.location-search {
    position: relative;
}

.location-search .menu {
    box-sizing: borderbox;
    position: absolute;
    margin: 5px 0;
    max-height: 300px;
    width: 100%;
    overflow: auto;
    /* border-bottom: var(--bs-border-width) solid var(--bs-border-color); */
}

.search {
    position: relative;
}

.search .search-input {
    padding-right: 45px;
}

.search-buttons {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0;
    border-left: var(--bs-border-width) solid var(--bs-border-color);
    width: 40px;
    display: flex;
}

.search-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    height: 100%;
    width: 100%;
    padding: 0;
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.search-button:hover {
    background-color: var(--bs-border-color);
  }

.search-button img {
    height: 20px;
    vertical-align: sub;
}

.search-spiner {
    margin: auto;
}